<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- HTML 주석 (ctrl + /)   -->
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes imagerotation {
	0% {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}

#tran {
	animation-name: imagerotation;
	animation-duration: 10s;
	animation-iteration-count: infinite;

}
    </style>
    <script>
        alert("Hello, Jun!");
        window.onload = function () {
        let canvas = document.getElementById("myCanvas");
        let context = canvas.getContext("2d");
        }
    </script>
</head>


<body style = "background-color: skyblue; font-family: 'TheTuesdayofYounah';">
<!--<body>-->
<h1 style = "background-color: beige">Welcome To Spring Boot!</h1>
<hr>
<canvas id = "myCanvas" width = "300" height ="300"
        style="background-color: aliceblue"> </canvas>
<script type="text/javascript">
    var canvas = document.getElementById("myCanvas");
    var context = canvas.getContext("2d");

        context.beginPath();
        context.strokeStyle = "red";
        context.lineWidth = 2;
        context.arc(150, 125, 50, 0, 2*Math.PI, true);
        context.stroke();

        context.beginPath();
        context.strokeStyle = "green";
        context.arc(125, 175, 50, 0, 2*Math.PI, true);
        context.stroke();

        context.beginPath();
        context.strokeStyle = "blue";
        context.arc(175, 175, 50, 0, 2*Math.PI, true);
        context.stroke();
</script>
<hr>
<img id="tran" src="rotate.gif"
     width="200" height="200"
     alt="animation">
</body>

</html>