<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- HTML 주석 (ctrl + /)   -->
    <meta charset="UTF-8">
    <title>Title</title>
    <style>@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }</style>
</head>

<body style = "background-color: skyblue; font-family: 'TheTuesdayofYounah';">
    <h1 style = "background-color: beige">Welcome World!</h1>

<script>
    alert("Hello, Jun!");
</script>
</body>

</html>